* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    margin: 0%;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: blue;
}
    
}

span {
    position: inherit;
    padding: 1px;
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;

}

.topnav {
    position: flex;
    flex-direction: inherit;
    width: 100%;
    background-color: orange;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;

}

.topnav a:hover{
    color: black;
}

img {
    
    width: 300px;
    height: 300px;
    margin-left: 600px;
    margin-top: 100px;
}

.container h1 {
    position: inherit;
    color: yellow;
    margin-left: 33.5cm;
    float: right;
}

#home {
    text-align: center;
}

.first {
    position: flex;
    box-sizing: border-box;
    width: 800px;
    height: 200px;
    margin-left: 600px;
    margin-top: -90px;
    padding: 5px;
    border: solid grey;

}

.second {
    position: flex;
    box-sizing: border-box;
    width: 800px;
    height: 200px;
    margin-left: 600px;
    margin-top: -90px;
    padding: 5px;
    border: solid grey;
    

}

.third {
    position: flex;
    box-sizing: border-box;
    width: 800px;
    height: 200px;
    margin-left: 600px;
    margin-top: -90px;
    padding: 5px;
    border: solid grey;

}

.about {
    position: relative;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    margin-top: 50px;
    padding: 5px;
    left: 300px;
    line-height: 2cm;
}

.portfolio {
    position: relative;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    margin-top: 50px;
    padding: 5px;
    left: 300px;
    line-height: 2cm;
}

.contact {
    position: relative;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    margin-top: 50px;
    padding: 5px;
    left: 300px;
    line-height: 2cm;

}


















    
    



    









